<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <main>
        <p class="error"><%= locals.msg %></p>
        <div class="card">
            <h2>Log in</h2>
            <form action="/logIn" method="post">
                <p><label for="username">Enter your username*</label>
                    <input name="username" id="username" type="text">
                </p>
                <p><label for="password">Enter your password*</label>
                    <input name="password" id="password" type="password">
                </p>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>